<!DOCTYPE html>
<!--[if IE]><![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="rtl" lang="fa-ir">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ heading_title }}</title>

<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>

<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">

</head>
<body>
<nav id="top">
  <div class="container">
{{ payment }}

<script type="text/javascript"><!--
$(document).ready(function() {
$('#button-confirm').trigger('click');
 var input = $(this).find('input');
    input.trigger('click');
});

//--></script>

</body></html>